<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.serviceModel>
		<!-- Exposed Endpoints -->
		<services>
			<service name="UIBeardcore.Tools.MultipleUpload.Model.Services.UIBeardcoreToolsManager" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
				<endpoint name="UIBeardcoreToolsManager"
								 address=""
								 behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior"
								 binding="webHttpBinding"
								 bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig"
								 contract="UIBeardcore.Tools.MultipleUpload.Model.Services.UIBeardcoreToolsManager" />
			</service>
		</services>	
		
		<!--<bindings>
			<webHttpBinding>
				<binding name="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig" useDefaultWebProxy="true" bypassProxyOnLocal="true" maxReceivedMessageSize="2097152" maxBufferSize="2097152" receiveTimeout="00:10:00" sendTimeout="00:05:00">
					<readerQuotas maxArrayLength="81920" maxBytesPerRead="5120" maxDepth="32" maxNameTableCharCount="81920" maxStringContentLength="2097152" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>-->
	</system.serviceModel>
</configuration>