<?xml version="1.0"?>
<!-- This is a bare configuration for a Tridion.Web editor -->
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
			   xmlns:list="http://www.sdltridion.com/2009/GUI/extensions/List"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

	<!--
		The SDL Tridion GUI uses a merging technique to minimize the amount of calls done by the client
		for static files (like .css and .js file).
		The files can be grouped and will be merged per group (if merging is enabled on the group)
		For debugging purposes the merging behavior can be switched off by setting the merge attribute to false.
	-->
	<resources>

		<cfg:filters />

		<cfg:extensiongroups>
			
			<cfg:extensiongroup name="UIBeardcore.Tools.MultipleUpload.CoreExtensionGroup">
				
				<cfg:extension target="Tridion.Web.UI.Controls.List">
					<cfg:insertafter>UIBeardcore.Tools.MultipleUpload.CoreExtensionFiles</cfg:insertafter>
				</cfg:extension>

				<cfg:extension target="Tridion.Web.UI.Controls.List.IFrameCSS">
					<cfg:insertafter>UIBeardcore.Tools.MultipleUpload.Themes.ListIFrameControl.Files</cfg:insertafter>
				</cfg:extension>

			</cfg:extensiongroup>
			
			<cfg:extensiongroup name="UIBeardcore.Tools.MultipleUpload.EditorExtensionGroup">
				
				<cfg:extension target="Tridion.Web.UI.Editors.CME.Views.DashboardBase">
					<cfg:insertafter>UIBeardcore.Tools.MultipleUpload.EditorExtensionFiles</cfg:insertafter>
				</cfg:extension>
				
			</cfg:extensiongroup>
			
		</cfg:extensiongroups>

		<cfg:groups>
			
			<cfg:group name="UIBeardcore.Tools.MultipleUpload.CoreExtensionFiles">
				<cfg:fileset>
					<cfg:file type="script">/Extensions/Core/List.js</cfg:file>
					<cfg:file type="script">/Extensions/Core/ListView.js</cfg:file>
				</cfg:fileset>
			</cfg:group>

			<cfg:group name="UIBeardcore.Tools.MultipleUpload.EditorExtensionFiles">
				<cfg:fileset>
					<cfg:file type="script">/Extensions/Editor/DashboardBase.js</cfg:file>
				</cfg:fileset>
			</cfg:group>

			<cfg:group name="UIBeardcore.Tools.MultipleUpload.Themes.ListIFrameControl.Files">
				<cfg:fileset>
					<cfg:file type="style">/Themes/Controls/List/ListIFrameCss.css</cfg:file>
				</cfg:fileset>
			</cfg:group>

		</cfg:groups>

	</resources>

	<definitionfiles>
		<!-- List definitions -->
	</definitionfiles>

	<!--
		The SDL Tridion GUI allows for additions, manipulations and removal of items within the GUI through
		the 'extension methodology'.

		Below is the configuration section for those extensions.
		These configuration sections can be defined inline or external (if the externaldefinition is used, all
		inline content is ignored!)
	-->
	<extensions>
		<ext:editorextensions/>
		<ext:dataextenders />
		<ext:resourceextensions>
			<ext:resourceextension>UIBeardcore.Tools.MultipleUpload.CoreExtensionGroup</ext:resourceextension>
			<ext:resourceextension>UIBeardcore.Tools.MultipleUpload.EditorExtensionGroup</ext:resourceextension>
		</ext:resourceextensions>
	</extensions>

	<!--
		The SDL Tridion GUI uses a 'Command' pattern for the commands executed whenever a user
		interacts with the system.

		Below are all the available commands specified and the file that holds the actual implementation of that command.
	-->
	<commands/>
		
	<contextmenus />
	
	<widgetsviews />
	
	<localization />

	<settings>
		<dependencies>
			<editor>CME</editor>
		</dependencies>
		<defaultpage/>
		<editurls/>
		<listdefinitions />
		<itemicons />
		<theme>
			<path>/Theme/</path>
		</theme>
		<resourceextensions/>
		<customconfiguration />
	</settings>

</Configuration>
